.content {
  max-width: 100%; // Гарантуємо, що контент не ширший за екран
  margin: 0 auto;

  &__wrap {
    max-width: 2560px; // Наприклад, 1200px або інше значення
    width: 100%; // Робимо адаптивним
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 148px;

    @include on-mobile {
      gap: 120px;
    }
  }
}
