$large-above: 2561px;
$large: 2560px;
$desktop-above: 1601px;
$on-desktop: 1600px;
$middle-desktop-above: 1281px;
$middle-desktop: 1280px;
$small-desktop-above: 1025px;
$small-desktop: 1024px;
$large-tablet: 899px;
$tablet-above: 641px;
$on-tablet: 640px;
$mobile-above: 321px;
$on-mobile: 320px;

@mixin large-above {
  @media (min-width: $large-above) {
    @content;
  }
}

@mixin large {
  @media (max-width: $large) {
    @content;
  }
}

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin on-desktop {
  @media (max-width: $on-desktop) {
    @content;
  }
}

@mixin middle-desktop-above {
  @media (min-width: $middle-desktop-above) {
    @content;
  }
}

@mixin middle-desktop {
  @media (max-width: $middle-desktop) {
    @content;
  }
}

@mixin small-desktop-above {
  @media (min-width: $small-desktop-above) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: $small-desktop) {
    @content;
  }
}

@mixin large-tablet {
  @media (max-width: $large-tablet) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin on-tablet {
  @media (max-width: $on-tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $on-mobile) {
    @content;
  }
}

@mixin on-mobile {
  @media (max-width: $on-mobile) {
    @content;
  }
}

@mixin hover {
  @include cursor;

  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin reset-button {
  padding: 0;
  border: none;
  border-color: transparent;
}

@mixin flex-center($isInLine: false) {
  @if $isInLine {
    display: inline-flex;
  } @else {
    display: flex;
  }

  align-items: center;
  justify-content: center;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin cursor {
  cursor: url(../images/mouse/mouse.svg), pointer;
}
